# Ignore node_modules
node_modules/

# Cypress test reports
cypress/reports/*
cypress/downloads*
cucumber-messages.ndjson

# Cypress videos
cypress/videos/*

# Cypress screenshots
cypress/screenshots/*
